@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('theme.css');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

#app {
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(2, max-content) 1fr max-content;
    height: 100%;
}