@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

#app {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    height: 100%;
}