:root {
  --bg-0: rgb(33, 37, 41);
  --bg-1: rgb(38, 41, 45);
  --bg-2: rgb(42, 46, 50);
  --bg-3: rgb(47, 51, 55);
  --bg-4: rgb(52, 55, 59);

  --fg-0: rgb(129, 132, 135);
  --fg-1: rgb(158, 160, 163);
  --fg-2: rgb(187, 189, 191);
  --fg-3: rgb(217, 219, 220);
  --fg-4: rgb(248, 249, 250);
}